$small: 900px;
$medium: 1020px;
$teblate: 768px;
$mobile: 425px;

.about{
    background-color: #fff;
    padding: 150px 0;
    @media screen and (max-width: $teblate) {
        padding: 70px 0;
      }

    .about-content{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        @media screen and (max-width: $medium) {
            grid-template-columns: 1fr;
            text-align: center;
          }

        .img-slide{
            position: relative;

            .work-emoji{
                bottom:35px;
                position: absolute;
                right:98px;
                width: 60px;
                z-index: 10;
                @media screen and (max-width: $medium) {
                    bottom: 57px;
                    right: 245px;
                }
                @media screen and (max-width: $teblate) {
                    right: 130px;
                }
                @media screen and (max-width: $mobile) {
                    right: 63px;
                    width: 40px;
                    bottom: 43px;
                }
            }

            .img-side__main-img {
                border-radius: 17px;
                height: 350px;
                width: 410px;
                @media screen and (max-width: $medium) {
                   margin-bottom: 35px;
                  }
            }

            span {
                background-color: #fff;
                border-radius: 50%;
                bottom: -33px;
                height: 190px;
                position: absolute;
                right: 33px;
                width: 190px;
                @media screen and (max-width: $medium) {
                    width: 170px;
                    height: 170px;
                    bottom: -3px;
                    right: 190px;
                  }
                  @media screen and (max-width: $teblate) {
                    right: 75px;
                }
                @media screen and (max-width: $mobile) {
                    right: 25px;
                    width: 120px;
                    height: 120px;
                }

                img {
                    
                    -webkit-animation: rotate 9s linear infinite;
                    animation: rotate 9s linear infinite;
                    width: 190px;

                    @keyframes rotate {              
                        100% {
                            -webkit-transform: rotate(1turn);
                            transform: rotate(1turn);
                        }
                      }
                      @media screen and (max-width: $medium) {
                        width: 170px;
                      }
                      @media screen and (max-width: $mobile) {
                        width: 120px;
                      }
                }   
            }
        }

        .text-side{
            padding-right: 15px;
            @media screen and (max-width: $medium) {
                margin: 0 auto;
                max-width: 540px;
              }

            h4{
                color: #177efb;
                font-size: 17px;
                font-weight: 700;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            h3{
                color: #2d2e32;
                font-size: 25px;
                line-height:1.4;
                margin-bottom: 20px;
            }

            p{
                color: #767676;
                font-size: 17px;
                line-height: 1.5;
            }
        }

    }
}

